
<div class="footer">
  <div class="footer-links">
    <%= link_to " " %><i class="fab fa-instagram logo"></i></a>
    <%= link_to " " %><i class="fab fa-facebook logo"></i></a>
    <%= link_to " " %><i class="fab fa-twitter logo"></i></a>
    <%= link_to " " %><i class="fab fa-linkedin logo"></i></a>
  </div>
  <div class="footer-copyright">
   <i class="far fa-building"></i> Le Perchoir, 14 Rue Crespin du Gast, 75011 Paris
  </div>
</div>

