<h1> DASHBOARD</h1>

<div class="container">
  <div class="accordion" id="accordionExample">
    <% unless @bookings %>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Bookings
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <% @bookings.each do |booking| %>
          <%= render 'bookings_list', booking: booking %>
        <% end %>
    <% end %>
    </div>
    <% if @foodtrucks %>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            FoodTruck
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse d-inline-flex p-2" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <% @foodtrucks.each do |foodtruck| %>
            <% if foodtruck %>
              <%= render 'foodtruck_list', foodtruck: foodtruck %>
            <% end %>
          <% end %>
      </div>
    </div>
    <% end %>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            FoodTruck's Bookings
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse d-inline-flex p-2" aria-labelledby="headingThree" data-parent="#accordionExample">
        <% @foodtrucks.each do |foodtruck| %>
          <% if foodtruck.bookings %>
            <%= render 'foodtruck_bookings_card', foodtruck: foodtruck %>
          <% end %>
        <% end %>
      </div>
    </div>
