.booking-search-form-area {
    height: 100%;
    padding: 16px 0;
    position: relative;
    max-width: 470px;
    align-self: center;
    cursor: pointer;
    border-bottom: solid 1px #eee;
}

.booking-frame-white {
  width: 300px;
  height: 600px;
  background-color: $baby-white;
  border: 0.5px solid #e5e3e3;
}

.booking-search-area {
  width: 300px;
  height: 600px;
  margin: 0px 0px 8px;
  padding: 15px 8px;
  background-color: $baby-white;
  border: 0.5px solid #e5e3e3;
}
