
.card-food-truck {
  padding:auto;
  margin:auto;
  text-align:centre;
  width: 320px;
  background: $baby-white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin: 20px;
  border-radius: 2px;
  display:flex;
  flex-direction:column;
  text-decoration: none;
}

.card-food-truck > img {
  height: 320px;
  width: 300px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  border-radius: 2px;
}


.card-food-truck p {
  font-size: 13px;
  margin: 0;
  color: #636366;
  margin-bottom: 13px;
}

.card-food-truck h3 {
  font-size: 20px;
  margin: 0;
  padding-bottom: 5px;
}

.card-food-truck h2 {
  font-size: 32px;
  margin: 0;
}
.card-food-truck-infos-price {
  display:flex;
  justify-content: flex-start;
}


.card-food-truck .card-food-truck-infos {
  padding: 16px;
  position: relative;
}

#currency {
  margin: 0;
  color: #636366;
  vertical-align: text-bottom;
  padding-right: 5px;
}

#day {
  margin: 0;
  color: #636366;
  vertical-align: text-bottom;
  align-self: flex-end;
  padding-left: 5px;
}

.card-food-truck-infos .card-food-truck-user {
  position: absolute;
  right: 18px;
  top: -29px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

#simage  > img {
height: 225px;
object-fit: cover;
}

#linktextnone a {
text-decoration: none;
}

#star {
  font-size: 10px;
  margin-bottom: 0;
}

#h2change {
  font-size: 16px;
  margin-bottom: 0;
}


