.container-search {
padding: 30px;
border: solid 1px;
border-color: #E3E4E5;
height: 380px;
width: 300px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 2px;
}

.search {
  margin-top: 35px;
  width: 210px;
}
