.black-info-banner {
  background-color: #2F2D31;
  color: $baby-white;
}

.black-info-banner h1 {
  font-size: 32px;
  padding-top: 15px;
}

.black-info-banner h2 {
  font-size: 24px;
  padding-top: 15px;
}

.white-info-banner {
  background-color: #F4F4F4;
  color: black;
}

.white-info-banner h1 {
  font-size: 32px;
  padding-top: 15px;
}

.white-info-banner h2 {
  font-size: 24px;
  padding-top: 15px;
  margin-bottom: 0px;
}

.white-info-banner h3 {
  font-size: 16px;
}

.info-banner-price {
  display:flex;
  justify-content: flex-start;
  margin-left:20px;
}

// .grey-info-banner .info-banner-price {
//   padding: 16px;
//   position: relative;
// }

// .info-banner-price .btn-black {
//   position: absolute;
//   right: 18px;
//   top: -29px;
// }
#star {
  vertical-align: text-bottom;
}

#localisation {
  margin-right: 15px;
  margin-bottom: 0.8rem;
  vertical-align: text-bottom;
}

#day-show {
  margin-bottom: 0.5rem;
  color: $baby-white;
  vertical-align: text-bottom;
  align-self: flex-end;
  padding-left: 5px;
}

#currency-white {
  margin: 0;
  color: $baby-white;
  vertical-align: text-bottom;
  padding-right: 5px;
}

